# игнорировать ядро сервера
*.jar

# папку с логами/плагинами/библиотеками
logs/
libraries/
plugins/
start.bat
pureserver.zip
banned-players.json
banned-ips.json
whitelist.json
version_history.json
usercache.json
permissions.yml
ops.json
help.yml
commands.yml